<div class="<%= card_classes %>">
  <div class="<%= BODY_CLASSES %>">
    <h3 class="<%= TITLE_CLASSES %>"><%= @title %></h3>
    <p class="<%= SUMMARY_CLASSES %>"><%= @summary %></p>
  </div>
  <div class="<%= CTA_CLASSES %>">
    <%= link_to @cta, @link, class: LINK_CLASSES %>
  </div>
</div>
